nav{
    display: flex;
    text-align: center;

}

.NavLink{
    border: 1px solid black;
    text-decoration: none;
    color: black;
    padding: 5px;
    border-radius: 20px;
}


.selected{
    text-decoration: underline;
}